# BT Configuration
CONFIG_BT_ENABLED=y
CONFIG_BT_CONTROLLER_ONLY=y
CONFIG_BT_BLUEDROID_ENABLED=
CONFIG_BTDM_CTRL_MODE_BLE_ONLY=y
CONFIG_BTDM_CTRL_MODE_BR_EDR_ONLY=n
CONFIG_BTDM_CTRL_MODE_BTDM=n
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.esp32c61.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.esp32c61.csv"

# SPI/SDIO only
CONFIG_BT_LE_HCI_INTERFACE_USE_RAM=y

# BLE over UART:
# Enable below config, delete sdkconfig, build/ and rebuild
# CONFIG_BT_LE_HCI_INTERFACE_USE_UART=y
 CONFIG_BT_LE_HCI_UART_TX_PIN=5
 CONFIG_BT_LE_HCI_UART_RX_PIN=12
 CONFIG_BT_LE_HCI_UART_FLOWCTRL=n
 # 4 pin solution is not working yet for c6
# #CONFIG_BT_LE_HCI_UART_RTS_PIN=9
# #CONFIG_BT_LE_HCI_UART_CTS_PIN=13

CONFIG_BT_LE_HCI_TRANS_TASK_STACK_SIZE=2048

CONFIG_ESP32_WIFI_NVS_ENABLED=

CONFIG_BT_BTC_TASK_STACK_SIZE=4096
# CONFIG_BT_BLE_50_FEATURES_SUPPORTED is not set
CONFIG_BT_BLE_42_FEATURES_SUPPORTED=y
CONFIG_BT_BLE_ACT_SCAN_REP_ADV_SCAN=y
CONFIG_BT_GATTC_CONNECT_RETRY_COUNT=20


CONFIG_BT_ACL_CONNECTIONS=2
CONFIG_BT_LE_MSYS_1_BLOCK_COUNT=6
CONFIG_BT_LE_MSYS_2_BLOCK_COUNT=8
CONFIG_BT_LE_ACL_BUF_COUNT=8
CONFIG_BT_LE_HCI_EVT_HI_BUF_COUNT=16
CONFIG_BT_LE_HCI_EVT_LO_BUF_COUNT=4
CONFIG_LWIP_MAX_SOCKETS=4
CONFIG_LWIP_TCPIP_RECVMBOX_SIZE=6
CONFIG_FREERTOS_PLACE_FUNCTIONS_INTO_FLASH=y
CONFIG_FREERTOS_PLACE_SNAPSHOT_FUNS_INTO_FLASH=y
CONFIG_RINGBUF_PLACE_FUNCTIONS_INTO_FLASH=y
