\
# SPDX-License-Identifier: Apache-2.0
# Per-example Linux host defaults (no global defaults layer).

CONFIG_ESP_HOSTED=y
CONFIG_ESP_HOSTED_HOST=y
CONFIG_ESP_HOSTED_HOST_TYPE_POSIX=y
CONFIG_ESP_HOSTED_HOST_PORT_TYPE_POSIX=y
CONFIG_ESP_HOSTED_HOST_VSERIAL_LINUX=y
CONFIG_SLAVE_IDF_TARGET_ESP32C6=y
CONFIG_ESP_HOSTED_HOST_FEAT_RPC=y
CONFIG_ESP_HOSTED_HOST_FEAT_RPC_EXT_V2=y
CONFIG_ESP_HOSTED_HOST_AUTO_FEAT_INIT=y
CONFIG_ESP_HOSTED_HOST_FEAT_SYSTEM_AUTO_INIT=y

CONFIG_ESP_HOSTED_HOST_FEAT_WIFI=y
CONFIG_ESP_HOSTED_HOST_FEAT_WIFI_AUTO_INIT=y
CONFIG_ESP_HOSTED_HOST_FEAT_HEARTBEAT=y
CONFIG_ESP_HOSTED_HOST_FEAT_HEARTBEAT_AUTO_INIT=y
