# BT Configuration
CONFIG_BT_ENABLED=y
CONFIG_BT_CONTROLLER_ONLY=y

# OTA
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_PARTITION_TABLE_TWO_OTA=y

# OS
CONFIG_FREERTOS_HZ=1000
CONFIG_ESP_WIFI_NVS_ENABLED=y

# Linux Host Deep Sleep allowed?
#-------------------------------
# Please only enable this if your Linux host allows power saving.
# Raspberry Pi doesn't yet support the power saving.
# We had imx8mm board to test this. Every Linux may or may not support this feature.
# Check your SoC document if it supports power saving and how to enable or disable it
CONFIG_HOST_DEEP_SLEEP_ALLOWED=n
CONFIG_HOST_WAKEUP_GPIO=-1
