# 1. CPU
#--------
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ=240

# 2. Partition Table
#--------------------
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.esp32s2.csv"

# 3. Mempool
#------------
CONFIG_ESP_CACHE_MALLOC=y


# 4.1 LWIP split
#---------------

CONFIG_NETWORK_SPLIT_ENABLED=y
CONFIG_LWIP_TCP_LOCAL_PORT_RANGE_START=61440
CONFIG_LWIP_TCP_LOCAL_PORT_RANGE_END=65535
CONFIG_LWIP_UDP_LOCAL_PORT_RANGE_START=61440
CONFIG_LWIP_UDP_LOCAL_PORT_RANGE_END=65535

CONFIG_ESP_DEFAULT_LWIP_SLAVE=y

# 4.2 LWIP split examples
#-------------------------
CONFIG_ESP_HOSTED_COPROCESSOR_EXAMPLE_MQTT=n


# 5. Transport config
#---------------------
# CONFIG_ESP_SDIO_NSEND_PSAMPLE=y
# CONFIG_ESP_SDIO_DEFAULT_SPEED=y
# CONFIG_ESP_SDIO_STREAMING_MODE=n

# For SPI Full duplex C6 on ESP32-P4-Function-EV-Board, please uncomment below
#CONFIG_C6_SPI_WITH_P4=y


# 6. Wifi config
#----------------
CONFIG_WIFI_CMD_BASIC_ONLY=y

CONFIG_ESP_WIFI_STATIC_RX_BUFFER_NUM=10
CONFIG_ESP_WIFI_DYNAMIC_RX_BUFFER_NUM=32
CONFIG_ESP_WIFI_DYNAMIC_TX_BUFFER_NUM=32
CONFIG_ESP_WIFI_AMPDU_TX_ENABLED=y
CONFIG_ESP_WIFI_TX_BA_WIN=16
CONFIG_ESP_WIFI_AMPDU_RX_ENABLED=y
CONFIG_ESP_WIFI_RX_BA_WIN=16

CONFIG_ESP_WIFI_RX_IRAM_OPT=y
CONFIG_ESP_WIFI_IRAM_OPT=y

# 7. LWIP config
#----------------
CONFIG_LWIP_TCP_SND_BUF_DEFAULT=11520
CONFIG_LWIP_TCP_WND_DEFAULT=11520
CONFIG_LWIP_TCP_RECVMBOX_SIZE=16
CONFIG_LWIP_UDP_RECVMBOX_SIZE=16
CONFIG_LWIP_TCPIP_RECVMBOX_SIZE=32
CONFIG_LWIP_TCP_SACK_OUT=y
CONFIG_LWIP_TCPIP_CORE_LOCKING=y
CONFIG_LWIP_TCPIP_CORE_LOCKING_INPUT=y


# 8. Optimizations
#-------------------
CONFIG_COMPILER_OPTIMIZATION_PERF=y
CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y
CONFIG_SPI_MASTER_ISR_IN_IRAM=n


# 9. Stats
#-----------
#CONFIG_ESP_HOSTED_FUNCTION_PROFILING=y
CONFIG_ESP_PKT_STATS=y

# 10. Priorities
----------------
CONFIG_IPERF_TRAFFIC_TASK_PRIORITY=18
CONFIG_IPERF_REPORT_TASK_PRIORITY=18
CONFIG_ESP_DEFAULT_TASK_PRIO=18


# 11. Mem optimizations
#---------------------
CONFIG_FREERTOS_PLACE_FUNCTIONS_INTO_FLASH=y
