CONFIG_ESP_HOSTED_TRANSPORT_CP_SDIO=y

CONFIG_ESP_HOSTED_EXT_NETWORK_SPLIT_ENABLED=y
CONFIG_ESP_HOSTED_EXT_CP_HOST_PS__ENABLED=y
CONFIG_ESP_HOSTED_CP_CLI_ENABLED=y
#CONFIG_ESP_HOSTED_USE_EXAMPLE_WIFI_PRE_PROVISION_CONFIG=y
CONFIG_ESP_WIFI_ENTERPRISE_SUPPORT=n
