menu "CP transport"
	depends on ESP_HOSTED_CP

	choice EH_TRANSPORT_CP_INTERFACE
		depends on ESP_HOSTED_CP
		prompt "Communication bus (co-processor <== bus ==> host)"
		default EH_TRANSPORT_CP_SDIO if SOC_SDIO_SLAVE_SUPPORTED
		default EH_TRANSPORT_CP_SPI if SOC_GPSPI_SUPPORTED

	config EH_TRANSPORT_CP_SPI
		bool "SPI Full Duplex"
		depends on SOC_GPSPI_SUPPORTED

	config EH_TRANSPORT_CP_SDIO
		bool "SDIO"
		depends on SOC_SDIO_SLAVE_SUPPORTED

	config EH_TRANSPORT_CP_SPI_HD
		bool "SPI Half Duplex"
		depends on SOC_GPSPI_SUPPORTED && ESP_HOSTED_CP_FOR_MCU

	config EH_TRANSPORT_CP_UART
		bool "UART"
		depends on SOC_UART_SUPPORTED && ESP_HOSTED_CP_FOR_MCU
	endchoice

# Memory pool configuration
	config ESP_CACHE_MALLOC
		depends on ESP_HOSTED_CP
		bool "Enable Mempool"
		default n if IDF_TARGET_ESP32C2 && ESP_HOSTED_CP_FOR_LINUX
		default y if ESP_HOSTED_CP_FOR_MCU
		default y
		help
			Mempool will help to alloc buffer without going to heap for every memory allocation or free

# 	menu "ESP-Hosted-Transport-CP Debugging"
# 		config ESP_RAW_THROUGHPUT_TRANSPORT
# 			bool "RawTP: Transport level throughput debug test"
# 			default n
# 			help
# 				Find max transport performance which helps to assess stability of porting done
#
# 		config ESP_RAW_TP_ESP_TO_HOST_PKT_LEN
# 			depends on ESP_RAW_THROUGHPUT_TRANSPORT
# 			int "RawTP: ESP to Host packet size"
# 			range 1 1500
# 			default 1460
#
# 		config ESP_RAW_TP_REPORT_INTERVAL
# 			depends on ESP_RAW_THROUGHPUT_TRANSPORT
# 			int "RawTP: periodic duration to report stats accumulated"
# 			default 1 if ESP_HOSTED_CP_FOR_LINUX__802_03
# 			default 10 if ESP_HOSTED_CP_FOR_MCU
# 			default 1
#
# #		config ESP_PKT_STATS
# #			bool "Transport level packet stats"
# #			default n
# #			help
# #				On comparing with slave packet stats helps to understand any packet loss at hosted
# #
# #		config ESP_PKT_STATS_INTERVAL_SEC
# #			depends on ESP_PKT_STATS
# #			int "Packet stats reporting interval (sec)"
# #			default 30
# #
# #		config ESP_HOSTED_FUNCTION_PROFILING
# #			bool "Enable function execution time profiling"
# #			default n
# #			help
# #				Enable this option to measure and report function execution times.
# #				This is useful for performance profiling and optimization.
# #
# #		config ESP_HOSTED_FUNCTION_PROFILING_MAX_ENTRIES
# #			int "Maximum number of functions to profile"
# #			depends on ESP_HOSTED_FUNCTION_PROFILING
# #			default 10
# #			range 1 50
# #			help

orsource "./Kconfig.cp.spi"
orsource "./Kconfig.cp.sdio"
orsource "./Kconfig.cp.spi_hd"
orsource "./Kconfig.cp.uart"
endmenu
