# Host Type Configuration - MCU Host
CONFIG_ESP_HOSTED_CP_FOR_MCU=y
CONFIG_ESP_HOSTED_CP_RPC_V1_MCU=y

# WiFi + External Coex features
CONFIG_ESP_HOSTED_CP_FEAT_WIFI=y
CONFIG_ESP_HOSTED_CP_FEAT_EXT_COEX=y
CONFIG_ESP_COEX_EXTERNAL_COEXIST_ENABLE=y

# BT MUST be disabled for external coex
CONFIG_BT_ENABLED=n

# OTA
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions_eh_cp_ota_4m.csv"

CONFIG_FREERTOS_HZ=1000
