CONFIG_ESP_HOSTED_CP_FOR_LINUX__802_03=y
# CONFIG_ESP_HOSTED_CP_FOR_MCU is not set
CONFIG_ESP_HOSTED_CP_RPC_V1_LINUX=y

#Disable enterprise support by default
CONFIG_ESP_WIFI_ENTERPRISE_SUPPORT=n

# BT Configuration
CONFIG_BT_ENABLED=n
#CONFIG_BT_CONTROLLER_ONLY=y

# OTA
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions_eh_cp_ota_4m.csv"

# OS
CONFIG_FREERTOS_HZ=1000
CONFIG_ESP_WIFI_NVS_ENABLED=y

CONFIG_ESP_HOSTED_CP_FEAT_WIFI=y
