# Coprocessor OTA Example — host (MCU)

# Role: HOST (MCU / ESP-IDF)
CONFIG_ESP_HOSTED=y

CONFIG_ESP_HOSTED_HOST_FEAT_WIFI=y

# Custom partition table — ota_0/1 for HTTPS, storage for LittleFS, slave_fw for Partition.
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"
CONFIG_ESPTOOLPY_FLASHSIZE_8MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="8MB"

CONFIG_FREERTOS_HZ=1000
