# Host Type Configuration - MCU Host
CONFIG_ESP_HOSTED_CP_FOR_MCU=y
CONFIG_ESP_HOSTED_CP_RPC_V1_MCU=y

# WiFi + iTWT extensions
CONFIG_ESP_HOSTED_CP_FEAT_WIFI=y
CONFIG_ESP_HOSTED_CP_FEAT_WIFI_EXT_ITWT=y

# BT disabled
CONFIG_BT_ENABLED=n

# Power management for iTWT
CONFIG_PM_ENABLE=y
CONFIG_FREERTOS_USE_TICKLESS_IDLE=y
CONFIG_PM_SLP_IRAM_OPT=y
CONFIG_PM_RTOS_IDLE_OPT=y
CONFIG_PM_SLP_DISABLE_GPIO=y
CONFIG_ESP_WIFI_SLP_IRAM_OPT=y
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_80=y

# OTA
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions_eh_cp_ota_4m.csv"

# OS
CONFIG_FREERTOS_HZ=1000
