name: Push component to https://components.espressif.com
on:
  push:
    branches:
      - feature/esp_as_mcu_host

jobs:
  upload_components:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: "recursive"

      - name: Upload component to the component registry
        uses: espressif/upload-components-ci-action@v1
        with:
          name: "esp_hosted"
          namespace: "mantriyogesh"
          registry_url: https://components-staging.espressif.com/
          api_token: ${{ secrets.IDF_COMPONENT_API_TOKEN }}
