menu "BLE Peripheral GATT config"

config EXAMPLE_DEVICE_NAME
    string "BLE device name"
    default "esp-hosted-nim-gatt"

config EXAMPLE_NOTIFY_INTERVAL_MS
    int "Notification interval (ms)"
    default 1000
    range 100 60000

endmenu
